<ion-header no-border>
  <ion-toolbar color="test">
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" defaultHref="/access/main/dash" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      FIRST TEST PAGE
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p style="margin-top: .5em;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nesciunt deleniti facere facilis quisquam incidunt
    quos voluptates reprehenderit, libero ipsa, dolore voluptatibus, sint necessitatibus voluptatem accusamus sequi
    rerum
    earum dicta?
  </p>
  <p style="margin-top: .5em;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nesciunt deleniti facere facilis quisquam incidunt
    quos voluptates reprehenderit, libero ipsa, dolore voluptatibus, sint necessitatibus voluptatem accusamus sequi
    rerum
    earum dicta?
  </p>
  <p style="margin-top: .5em;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nesciunt deleniti facere facilis quisquam incidunt
    quos voluptates reprehenderit, libero ipsa, dolore voluptatibus, sint necessitatibus voluptatem accusamus sequi
    rerum
    earum dicta?
  </p>
  <p style="margin-top: .5em;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nesciunt deleniti facere facilis quisquam incidunt
    quos voluptates reprehenderit, libero ipsa, dolore voluptatibus, sint necessitatibus voluptatem accusamus sequi
    rerum
    earum dicta?
  </p>
  <p style="margin-top: .5em;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nesciunt deleniti facere facilis quisquam incidunt
    quos voluptates reprehenderit, libero ipsa, dolore voluptatibus, sint necessitatibus voluptatem accusamus sequi
    rerum
    earum dicta?
  </p>
  <p style="margin-top: .5em;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nesciunt deleniti facere facilis quisquam incidunt
    quos voluptates reprehenderit, libero ipsa, dolore voluptatibus, sint necessitatibus voluptatem accusamus sequi
    rerum
    earum dicta?
  </p>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="navigateSecond()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>