/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-app{
    .background{
        position: absolute;
        left: 0;
        right: 0;
        top: -130px;
        bottom: 0;
        z-index: 1;
        transition: top .250s;
    }

    &.ios {
        /* iPhone 6, 7, & 8 */
        @media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
            div.background {
                background: #F8F8F8 url('./assets/img/ios/Default@2x~iphone.png') no-repeat center center / cover;
            }
        }

        /* iPhone iPhone 6, 7, & 8 Plus */
        @media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
            div.background {
                background: #F8F8F8 url('./assets/img/ios/Default-568h@2x~iphone.png') no-repeat center center / cover;
            }
        }

        /* iPhone X */
        @media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
            div.background {
                background: #F8F8F8 url('./assets/img/ios/Default-667h.png') no-repeat center center / cover;
            }
        }
    }
}