<ion-content>
  <div class="ion-padding ion-margin">
    <h1>Do a login...</h1>

    <p style="margin-top: 5em;">Ionic Rocks!</p>

    <p>This project has been created to state an issue over the header in ios</p>

    <p>It doesn't have any further functionality more than to state an problem</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reprehenderit beatae? Aspernatur odio nihil doloremque nisi dolorem illum! Provident, corporis corrupti? Quasi obcaecati, vero aliquam nesciunt deleniti ex a blanditiis!</p>

    <ion-button expand="full" type="submit" shape="round" style="margin-top: 5em;" (click)="login()">
      Login!
    </ion-button>
  </div>
</ion-content>
<div class="background"></div>